.sign-in {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: var(--ui-black);
    
    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        background: var(--ui-white);
        padding: 20px;
        width: 400px;
        min-height: 500px;
        margin-top: 70px;
        z-index: 99;
        
        .form-title {
            width: 200px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-bottom: 1px solid black;
            margin-block: 20px;
        }
        
        
        label {
            position: relative;
            margin: 20px;
            background: transparent;
            width: 80%;
            
            span {
                position: absolute;
                top: 7px;
                left: 12px;
                font-style: italic;
                transition: all 0.3s ease-in;
                
                &.active {
                    font-size: 13px;
                    top: -20px;
                    left: 0;
                }
            }
            
            input {
                background: transparent;
                padding: 10px;
                width: 100%;
                border-bottom: 1px solid black;
                transition: all 0.3s ease-in;
                
                &.active {
                    border: none;
                    border-radius: 5px;
                    background: var(--ui-primary);
                    color: var(--ui-white)
                }
            }
            
            .show-password {
                position: absolute;
                top: 7px;
                right: 12px;
                font-size: 20px;
                transition: all 0.3s ease-in;
                cursor: pointer;
            }
            
            // If input is active show password icon should be white
            input.active ~ .show-password {
                color: var(--ui-white);
            }
        }
        
        button {
            width: 120px;
            padding: 10px;
            background-color: var(--ui-primary);
            color: var(--ui-white);
            border-radius: 5px;
            margin-block: 20px;
            cursor: pointer;
        }
    }
}