.packages {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    min-height: 100vh;
    color: white;
    padding: 20px;
    font-family: 'Edu NSW ACT Foundation', cursive;

    .content {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: space-around;
        margin-top: 100px;
        padding: 20px;
        

        .package {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: auto;
            height: 200px;
            background: var(--ui-black);
            border-radius: 10px;
            padding: 20px;
            margin: 20px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
            transition: all 0.3s ease-out;
            cursor: pointer;

            &:hover {
                transform: scale(1.02);
            }

            .name {
                position: absolute;
                top: 10px;
                left: 50%;
                transform: translateX(-50%);
                width: 100%;
                text-align: center;
                text-decoration: underline;
                font-size: 1.5rem;
                font-weight: bold;
                margin-bottom: 10px;
            }

            .description {
                font-size: 1rem;
                text-align: center;
            }

            .version {
                position: absolute;
                bottom: 10px;
                right: 10px;
                font-size: 1rem;
                font-weight: bold;
                margin-top: 10px;
            }

            .links {
                position: absolute;
                bottom: 10px;
                left: 10px;
                display: flex;
                align-items: flex-start;
                justify-content: space-around;
                font-size: 1rem;
                font-weight: bold;
                margin-top: 10px;

                a, div {
                    display: grid;
                    place-items: center;
                    width: 35px;
                    height: 35px;
                    font-size: 25px;
                    border-radius: 50%;
                    color: white;
                    text-decoration: none;
                    margin: 0 10px;
                    transition: all 0.3s ease-out;

                    &:hover {
                        background: var(--ui-white);
                        color: var(--ui-black);
                    }
                }
            }
        }
    }
}