@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation&family=Roboto&family=Space+Mono&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --ui-primary: #3066be;
    --ui-secondary: #ab87ff;
    --ui-white: #ffffff;
    --ui-black: #000000;
}

input, button, textarea {
  outline: none;
  border: none;
  resize: none;
}


.App {
  font-family: 'Roboto', sans-serif;
  background: #8E2DE2;
  background: -webkit-linear-gradient(to right, #4A00E0, #8E2DE2);
  background: linear-gradient(to right, #4A00E0, #8E2DE2);
}